@import url(http://fonts.googleapis.com/css?family=Asap:400,400italic,700,700italic);

body {
    margin: 0 auto;
    background-color: #e1e1e1;
    font: 16px Helvetica, Arial, sans-serif;
}

a:link,
a:visited,
a:hover,
a:active {
    color: inherit;
}

header {
    background-color: #191919;
}

h1 {
    padding: 10px;
    margin: 0;
    color: white;
}

h1 img {
    max-width: calc(100% - 20px);
}

h1,
.what-we-know,
.who-are-they,
footer {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
}

.what-we-know {
    display: block;
    background: white;
}

.who-are-they {
    width: 96%;
    max-width: calc(1000px - 4%);
    background: #22202b;
    background-size: 100% auto;
    border-top: 10px solid #cf5318;
    padding: 2%;
    color: white;
}

.who-are-they h2 {
    font: bold 50px Asap, Helvetica, Arial, sans-serif;
    margin: 0;
    color: #cf5318;
    text-transform: uppercase;
}

.who-are-they .key {
    margin: 2% 0 ;
    border-top: 1px solid #8a898f;
    border-bottom: 1px solid #8a898f;
    padding: 2% 0;
    vertical-align: middle;
    font-size: 14px;
}

.who-are-they .key img {
    padding: 0 1% 0 2%;
    width: 3%;
    vertical-align: middle;
}

.who-are-they ol {
    display: inline-block;
    width: 45%;
    margin: 2% 0 0 0;
    padding: 0;
    list-style-type: none;
}

.who-are-they li {
    display: inline;
    cursor: pointer;
}

.who-are-they .prisonericon {
    width: 30px;
}

.who-are-they .prisonercard img {
    float: right;
    width: 50%;
    margin-top: 2%;
}

footer {
    background-color: white;
}

footer p {
    padding: 20px;
    margin: 0;
    font-style: italic;
}

footer .logo {
    float: right;
    height: 100px;
    padding: 20px;
}
